<a href="https://colab.research.google.com/github/Akshat-0001/Data-Manipulation-2/blob/main/Copy_of_Exp1_Data_Manipulation_using_Pandas_Part1_Series_and_Data_Frame_for_Students.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import pandas library
import pandas as pd

In [ ]:
# 1.1 Create a series using list
import pandas as pd

a1 = [1, 3, 5, 7, 9, 2, 4, 6, 8]
a2 = pd.Series(a1) #holds data of any type.

print(a2)

0    1
1    3
2    5
3    7
4    9
5    2
6    4
7    6
8    8
dtype: int64

In [ ]:
#1.2 A series has been created with data along with it's Index
import pandas as pd

a1 = [1, 3, 5, 7, 9, 2, 4, 6, 8]
a2 = ['a','b','c','d','e','f','g','h','i']
a3 = pd.Series(a1, a2) #a2 is considered as index
#a3 = pd.Series(a2, a1) #a1 is considered as index
print(a3)

a    1
b    3
c    5
d    7
e    9
f    2
g    4
h    6
i    8
dtype: int64

In [ ]:
print ("a3['b'] -->",a3['b'])
print ("a3['i'] -->",a3['i'])

a3['b'] --> 3
a3['i'] --> 8

In [ ]:
#1.3 Creating a series using dictionary
import pandas as pd

d1 = {'Guavas':5, 'Pineapples':7, 'Grapes':13, 'Strawberries':8}
d2 = pd.Series(d1)

print (d2)
print (type(d2))

Guavas           5
Pineapples       7
Grapes          13
Strawberries     8
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
#1.4 Creating a series using nested list
import pandas as pd

a1 = [[1,3,5],[2,4,6]]
a2 = pd.Series(a1)

print (a2)

0    [1, 3, 5]
1    [2, 4, 6]
dtype: object

In [ ]:
#2.1 Creating a data frame using dictionary
import pandas as pd

d1 = {'Age':[18,21,27,38],'Name':['Akshat','Kira','Itadori','Gojo']}
d2 = pd.DataFrame(d1)

d2

   Age     Name
0   18   Akshat
1   21     Kira
2   27  Itadori
3   38     Gojo

In [ ]:
#2.2 Creating a data frame using nested list
import pandas as pd

d1 = [[4,1900],[3,1600],[2,1100],[1,850]]
d2 = pd.DataFrame(d1, columns = ['Classrooms','Area'])

d2

   Classrooms  Area
0           4  1900
1           3  1600
2           2  1100
3           1   850

In [ ]:
#2.3 Assigning indexes within a data frame
import pandas as pd

d1 = {'Name':['Shinchan','Sasaki','Haise','Sushi'],'Marks':[73,69,96,59]}
d2 = pd.DataFrame(d1,index = ['Rank 2','Rank 3','Rank 1','Rank 4'])

d2

            Name  Marks
Rank 2  Shinchan     73
Rank 3    Sasaki     69
Rank 1     Haise     96
Rank 4     Sushi     59

In [ ]:
#2.4 Creating data frame using list of dictionaries
import pandas as pd

d1 = [{'A':69,'B':70,'C':71},{'A':89,'B':88,'C':87}]
d2 = pd.DataFrame(d1)

d2

    A   B   C
0  69  70  71
1  89  88  87

In [ ]:
#2.5 Creating random data frame
import numpy as np
import pandas as pd
import random as r
import string as s

df = pd.DataFrame({'A': [r.randint(1, 9)     for x in range(5)],
                   'B': [r.randint(1, 9)*10  for x in range(5)],
                   'C': [r.randint(1, 9)*100 for x in range(5)],
                   'D': [ "".join(r.sample(s.ascii_letters,5)) for x in range(5)],
                   'E': 'Ohayo',
                   'F': 1})

df

   A   B    C      D      E  F
0  5  40  400  RiCco  Ohayo  1
1  6  40  300  ygQkF  Ohayo  1
2  5  60  400  BcWjk  Ohayo  1
3  2  80  500  qLwdl  Ohayo  1
4  9  60  700  klJty  Ohayo  1

In [ ]:
#2.6 Describe the data frame
df.describe()

             A          B           C    F
count  5.00000   5.000000    5.000000  5.0
mean   5.40000  56.000000  460.000000  1.0
std    2.50998  16.733201  151.657509  0.0
min    2.00000  40.000000  300.000000  1.0
25%    5.00000  40.000000  400.000000  1.0
50%    5.00000  60.000000  400.000000  1.0
75%    6.00000  60.000000  500.000000  1.0
max    9.00000  80.000000  700.000000  1.0

In [ ]:
#2.7 Date as index
import numpy as np
import pandas as pd

dates = pd.date_range('20220603', periods=6)
dates

DatetimeIndex(['2022-06-03', '2022-06-04', '2022-06-05', '2022-06-06',
               '2022-06-07', '2022-06-08'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2022-10-31 -1.962134  0.603678 -1.772326  0.780640
2022-11-01  1.164134 -1.548020 -1.063907  0.528107
2022-11-02  0.183281  0.517932  0.446571  0.544628
2022-11-03 -0.021626  2.064426  0.182071 -0.855361
2022-11-04 -0.081351  1.035765  1.538717  1.338607
2022-11-05 -1.300689 -0.057275 -0.836527  0.128677

In [ ]:
#2.8 List the column names
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
#2.9 List the index names
df.index

DatetimeIndex(['2022-10-31', '2022-11-01', '2022-11-02', '2022-11-03',
               '2022-11-04', '2022-11-05'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
#2.10 Sorting by an axis
df.sort_index(axis=1, ascending=True) #The axis parameter specifies the direction along which a particular method or function is applied in a DataFrame. axis=0 represents the function is applied column-wise, and axis=1 means that the function is applied row-wise on the DataFrame.

   A   B    C      D      E  F
0  5  40  400  RiCco  Ohayo  1
1  6  40  300  ygQkF  Ohayo  1
2  5  60  400  BcWjk  Ohayo  1
3  2  80  500  qLwdl  Ohayo  1
4  9  60  700  klJty  Ohayo  1

In [ ]:
#2.11 Sorting wrt to column name
df.sort_values(by='A', ascending=True)

   A   B    C      D      E  F
3  2  80  500  qLwdl  Ohayo  1
0  5  40  400  RiCco  Ohayo  1
2  5  60  400  BcWjk  Ohayo  1
1  6  40  300  ygQkF  Ohayo  1
4  9  60  700  klJty  Ohayo  1

In [ ]:
#2.12 Selecting Data

df[df > 1]     # Put NaN where condition is false

          A        B         C   D
0       NaN  1.53245       NaN NaN
1       NaN      NaN       NaN NaN
2       NaN      NaN       NaN NaN
3  1.858698      NaN       NaN NaN
4       NaN      NaN       NaN NaN
5       NaN      NaN  3.007585 NaN

In [ ]:
# Un-comment each row and run

df[1:3][['A','B','C']]   # Show 1,2 rows of Column A, B, C

   A   B    C
1  6  40  300
2  5  60  400

In [ ]:
# Un-comment each row and run
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD')) #The loc property gets, or sets, the value(s) of the specified labels.Specify both row and column with a label.
df.loc[:-1, ]                # Show column names

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [ ]:
#3.3 Accessing data from data frame using column index (using iloc) - Part 3
# Un-comment each row and run

#df.iloc[,]                    # Error
#df.iloc[:,]                   # Show all rows of all columns
#df.iloc[:,1,2,3]              # Error
#df.iloc[:,[1,2,3]]            # Show all rows of 1, 2, 3 columns
#df.iloc[2:,]                  # Show rows from 2 to end of all columns
#df.iloc[2:, [0,1,3]]          # Show rows from 2 to end of 0, 1, 3 columns
#df.iloc[1:3, ]                # Show rows from 1 to 3 of all columns
#df.iloc[1:3, [0,1]]           # Show rows from 1 to 3 of 0, 1 columns
#df.iloc[1:3, 1:5]             # Show rows from 1 to 3 of 1-4 columns
#df.iloc[1:3, :5]              # Show rows from 1 to 3 of 0-4 columns
#df.iloc[1:3, :-2]             # Show rows from 1 to 3 of 0 to 2nd last columns
#df.iloc[:-2, 1:3]             # Show rows from 0 to 2nd last of 1-2 columns